/*body {
    {/*background-color: theme.palette.primary.main*//*}
/*}*/


div {
    text-align: center;
    text-shadow: 1;
    font-family: sans-serif;
    font-size: medium;
}

.no-wrap {
    white-space: nowrap;
    display: inline-block;
}

